.garden-square {
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 20px;
}

.flowers-counter {
    display: flex;
    flex-direction: row
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center
}