html{
    color:#fff;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.warning{
    color:red;
    margin:5px
}