.header-tab{
    color:#D5CFC4 !important;
    background:#252528 !important;
}

html{
    background:#2e2e32 !important;
    color:#D5CFC4 !important;
}

svg{
    fill:#D5CFC4 !important;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.warning{
    color:#FE2E2E;
    margin:5px
}